[Unit]
Description=Run PMG Outbound Usage Tracker every 5 minutes

[Timer]
OnBootSec=120
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
